body {
    background-color: rgb(124, 242, 224);
    border-style: solid;
    border-width: medium;
}

header {
    background-color: rgb(0, 195, 255);
    height: 50px;
}

.grid-container {
    background-color: aqua;
    display: grid;
    grid-template-columns: 20% 80%;
}

img {
    color: aqua;
    width: 300px;
    height: 350px;
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    margin-left: 30px;
}

h2 {
    font-size: 250%;
    color: rgb(255, 0, 89);
    border-bottom: 6px solid rgb(29, 14, 14);
}

h3 {
    font-size: 200%;
    color: coral;
}

h5 {
    font-size: 150%;
    color: darkorchid;
    margin-left: 50px;
}

li {
    font-size: 150%;
    color: darkblue;
}

h1 {
    margin-left: 700px;
    color: aliceblue;
}

h4 {
    font-size: 250%;
    color: rgb(0, 62, 250);
    border-bottom: 6px solid rgb(14, 4, 4);
}